<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <!-- On va utiliser bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>NodeJS Olympics</title>
</head>

<body>
  <form action="/api/athletes/" method="POST" class="form">
  <input type="text" placeholder="Nom" id="lastName" name="lastName"> <br>
  <input type="text" placeholder="Prenom" id="fistName" name="firstName"><br>
  <input type="text" placeholder="Age" id="age" name="age"><br>
  <input type="text" placeholder="Pays" id="country" name="country"><br>
  <button type="submit">Enregistrer</button>
  </form>
</body>

</html>