<!doctype html>

<html lang="fr">

<head>
  <meta charset="utf-8">
  <!-- On va utiliser bootstrap CSS (Ou pas...) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>NodeJs Olympics</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="./style.css" />
</head>

<body>
<h1>Athlete : {{athlete.lastName}} {{athlete.firstName}}</h1>

    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Sport</th>
          <th scope="col">Catégorie</th>
        </tr>
      </thead>

<tbody>
{{#each sports as |sport|}}
{{#> childEntry}}
  <tr>
    <td>{{sport.name}}</td>
    <td>{{sport.category}}</td>
    </tr>
</tbody>
{{/childEntry}}
{{/each}}
</table>
</body>

</html>