    <div class="card-body">
        <form action="/updateSports/<%= sports._id %>" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="name">Name</label>
                        <input type="text" class="form-control" value="<%= sports.name %>" name="name" placeholder="Enter name" id="name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="name">Category</label>
                        <input type="text" class="form-control" value="<%= sports.category %>" name="category" placeholder="Enter category" id="category">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="addres">Address</label>
                        <textarea class="form-control" name="address" id="address" rows="3">
                        <%= sports.name %>
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>